/* SE AISLAN LOS ESTILOS DEL HEADER */


/* ===========================================================================*/
/*  IMPORTATE !!!! */
/*  POR DEFECTO EL ESTILO ESTÁ DEFINIDO EN TAMAÑO ESCRITORIO */
/* ===========================================================================*/

.encabezado{
    /*Mantiene su posición auque se haga scroll :) */
    position: sticky;
    top: 0px;
    height: 100px;/*La altura se fijó en 100px para facilitar los cálculos para posicionar el menú movil*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-seal-brown);
    z-index: 100;
}

.logo{
    font-family: var(--fuente-acento);
    font-weight: bolder;
    cursor: pointer;
    color:var(--color-secundario);
    text-decoration: none; /*porque Bootstrap sobreescribe algunos estilos :( */
    font-size: 2rem;
}

.nav__lista-links li{
    display: inline-block;
    padding: 1.25rem;
    color: var(--color-secundario);
    font-size: 1.2rem;
}

nav ul li a{
    color:inherit;
    text-decoration: none;
}

/* Esta clase representa los links que no tienen submenu*/
.nav__link-simple:hover{
    transform: scale(1.3);
    text-shadow: 2px 3px 2px rgba(78,59,49,0.8);
    transition: transform 0.2s ease-in-out;
}


.link-con-submenu{
    /*Estos links poseen un menu que se despliega*/
    position: relative;
}

.nav__submenu{
    position: absolute;
    left:0px;
    width:100%;
    display: none;
    background-color: var(--color-seal-brown); /*provisorio*/
}

.nav__submenu-item a {
    color:var(--color-secundario);
}


/* HACE APARECER EL SUBMENU*/
.link-con-submenu:hover  > .nav__submenu{
    display: block;
}


/*Botón que se ve en las pantallas más pequeñas. En vista escritorio está oculto por defecto*/
#btn__menu-movil{
    display: none; /*el botón está escondido en pantallas mayores, reaparece con media querie */
    font-size: 2.2rem;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--color-raspberry);
    color: var(--color-secundario);
    border: none;
    outline: none;
}

/*  ================================ MEDIA QUERIES  ================================ */
/*=================================================================================== */
@media screen and (max-width:992px) {
    /* antes era (max-width:768px)*/
    .contenedor-logo{
        text-align: center;
    }

    .logo{
        font-size: 1.5rem; /*puede mejorar...*/
    }


    #nav__contenedor{
        background-color: var(--color-raspberry);
        position: fixed;
        left:-200%;
        top: 100px; /* la altura fija del header*/
        width:100%;
        height: calc(100vh - 100px);
        text-align: center;
    }

    .nav__lista-links li{
        display: block;
    }


    #nav__contenedor.modo-movil{
        left:0;
    }

    .nav__submenu{
        position: static;
    }

    
    #btn__menu-movil{
        display: inline-block;
    }
}

@media screen and (min-width: 993px) and (max-width: 1220px) {
    .logo{
        font-size: 1.25rem;
    }

    .nav__lista-links li{
        padding: 1rem;
        font-size: 1rem;
    }
}