/*HERO */
/*=================================================*/

/* ===========================================================================*/
/*  IMPORTATE !!!! */
/*  POR DEFECTO EL ESTILO ESTÁ DEFINIDO EN TAMAÑO ESCRITORIO */
/* ===========================================================================*/


.hero{
    background-image: url("../images/hero/emilio-lujan-OKWAtnEfN4M-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 100px); /*SE FIJÓ LA ALTURA DEL NAV A 100PX*/
    padding: 4% 6%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero h1{
    font-family: var(--fuente-acento);
    color: var(--color-antique-white);
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 2px 3px 2px rgba(78, 49, 69, 0.6);
    margin-bottom: 1.5rem;
    
}

.hero h1 span{
    font-weight: bolder;
    color: var(--color-principal);
    text-shadow: none;
}

.hero p{
    font-size: 1.25rem;
    color: var(--color-antique-white);
    font-weight: bold;
    text-shadow: 2px 3px 2px rgba(78, 49, 69, 0.6);
}

.btn-hero{
    text-align: center;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    font-size: 1.75rem;
    background-color: var(--color-raspberry);
    color: var(--color-antique-white);
    font-weight: bold;
    padding: 16px 24px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px 4px rgba(245,245,220,0.5);
    text-shadow: 2px 3px 2px rgba(78, 49, 69, 0.6);
    transition:all 0.4s ease;
}

.btn-hero:hover{
    background-color: var(--color-seal-brown);
    color: var(--color-raspberry);
    text-shadow: 2px 3px 2px rgba(255, 255, 255, 0.6);
}



/*  ================================ MEDIA QUERIES  ================================ */
/*=================================================================================== */

/* MODO DISPOSITIVOS MÓVILES  HASTA 768 PX */
/****************************************/


@media screen and (max-width:768px) {
     /* ======== HERO ========= */
    .hero h1{
        font-size: 3.5rem;
        
    }
}
