.form {
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    padding: 1rem; /* Agrega un padding para un mejor aspecto */
    box-sizing: border-box; /* Asegúrate de que el padding esté incluido en el ancho */
    background-color: rgb(166, 175, 157);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos */
}

.form-div {
    display: flex;
    flex-direction: column;
}

.marco:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease; /* Añadir transición */    
}